.main-title {
    text-align: center;
    color: tomato;
    margin-bottom: 2rem;
}

#logo {
    width: 100px;
    border: 1px solid black;
    border-radius: 1rem;
    transition: width 300ms ease-in-out;
}

#logo.zoom {
    width: 150px;
}

.my-link {
    text-align: center;
}